<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datascreen.demo.mapper.YueMapper" >
    <select id="list" resultType="com.datascreen.demo.domain.Yue">
        select `name`, `value` from `guangdong`
    </select>
</mapper>